ENVIRONMENT=development
API_PREFIX=/api
LOG_LEVEL=INFO
LLM_PROVIDER=
MODEL_NAME=
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=agent-techie